.wrapper {
  background-color: transparent;
  width: 20rem;
  height: 4rem;
  perspective: 1000px;
  color: white;
  cursor: pointer;

  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.innerWrapper {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 500ms;
  transform-style: preserve-3d;
}

.flipped {
  transform: rotateX(-180deg);
}

.front, .back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 0.25rem;
  overflow: hidden;
  border: 3px solid darkblue;
}

.front {
  background-color: blue;
  align-content: center;
}

.back {
  background-color: dodgerblue;
  transform: rotateX(180deg);

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.text {
  width: 100%;
  height: 100%;
  padding: 0.5rem;
  align-content: center;
}

.points {
  background-color: blue;
  width: 20%;
  height: 100%;
  align-content: center;
  font-size: 2em;
  border-left: 3px solid darkblue;
}
