.wrapper {
  background-color: transparent;
  width: 20rem;
  height: 4rem;
  perspective: 1000px;
  color: var(--pri-text-color);
  cursor: pointer;

  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.innerWrapper {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 500ms;
  transform-style: preserve-3d;
}

.flipped {
  transform: rotateX(-180deg);
}

.front, .back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: var(--border-radius);
  overflow: hidden;
  box-shadow: var(--box-shadow);
}

.front {
  background-color: var(--sec-accent-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
}

.square {
  background-color: var(--pri-accent-color);
  height: 100%;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.back {
  background-color: var(--pri-accent-color);
  transform: rotateX(180deg);
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  width: 100%;
  height: 100%;
  padding: 0 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.points {
  background-color: var(--sec-accent-color);
  width: 5rem;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
}

.dummy {
  cursor: default;
  pointer-events: none;
}
