.wrapper {
  background-color: skyblue;
  text-align: center;
  padding: 1rem;
}

.answersWrapper {
  display: grid;
  grid-template: repeat(4, 1fr) / repeat(2, 1fr);
  grid-auto-flow: column;
  gap: 0.5rem;
  justify-items: center;
}