.wrapper {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  color: var(--pri-text-color);
  font-size: 24px;


  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.points {
  text-align: center;
  align-content: center;
  width: 8rem;
  height: 6rem;
  color: var(--pri-text-color);
  font-size: 48px;
  font-weight: 500;
  background-color: var(--sec-background-color);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}
