.wrapper {
  background-color: lightskyblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  gap: 0.5rem;
}

.question {
  color: black;
}

.points {
  font-size: 2em;
  background-color: blue;
  padding: 0.5rem;
}