.wrapper {
  background-color: lightskyblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  gap: 0.5rem;
  border-radius: 0.25rem;
  border: 3px solid darkblue;

  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.question {
  color: white;
  font-size: 2em;
}

.points {
  color: white;
  font-size: 2em;
  background-color: blue;
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: 3px solid darkblue;
}